.T-shirt{
    border: 1px solid brown;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8px;

}

.T-shirt img{
    height: 200px;
    border-radius: 8px;
    /* width: 150px; */
}
.T-shirt p{
    margin: 0;
}